doctype html
html 
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Dynamo gym gives the best services in rajkot at lowest price ever, packages start from  ₹999/month, weightloss guarantee with in a month')
    link(rel="icon" href="../static/Images/flati-logo.ico" type="imgage/x-icon")
    link(rel='stylesheet' type='text/css' href='../static/CSS/base.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap' rel='stylesheet')
    title Dynamo-Gym | Best gym in Rajkot
    block head-content
  body
    header#navbar
      #main-logo
        img(src='../static/Images/mainlogo.png' alt='Dynamo-Gym logo')
        h1 Dynamo Gym
      ul
        li
          a(href='/') Home
        li
          a(href='/joinnow') Join Now
        li
          a(href='/instruments') Instruments
        li
          a(href='/gallery') Gallery
        li
          a(href='/contact') Contact
    block content
    footer#footer
      #copyrigth
        p
          | Copyrights&copy; reserved by 
          a(href='dynamogym.com') Dynamo Gym
          |  | 2021
      div
        a(href='https://facebook.com/milan patel')
        img.social-media-icons(src='../static/Images/fb-logo.png' alt='facebook')
        a
        a(href='https://instagram.com/milan_patel____')
        img.social-media-icons(src='../static/Images/insta-logo.png' alt='instagram')
        a
        a('https://whatsap')
        img.social-media-icons(src='../static/Images/wp-logo.png' alt='whatsapp')
        a
        a('https://gmai')
        img.social-media-icons(src='../static/Images/gmail-logo.png' alt='Gmail')
        a

    block javascript-content
